<template>
<div>
  <Toolbar />

  <div class="about__div">
    <section class="about__section" tabindex="0">
      <h2 class="about__h2">Application</h2>
      <p class="about__p">App using a Edaman API, Vue.js framework with Vuetify.js and Git, created by <a href="https://xn--jakubwoowski-jcc.pl/" target="_blank" class="p__a">Jakub Wołowski</a> with pinch of love.</p>
    </section>

    <section class="about__section" tabindex="0">
      <h2 class="about__h2">Usage</h2>
      <p class="about__p">Type a food whatever you want and search for calories,
          recipes and when to order in future or whatever you want!
          Just fill in a form in Contact section.</p>
    </section>

  </div>

  <div class="about__underdiv" tabindex="0">
      <section class="about__section">
        <h2 class="about__h2">Last Words</h2>
        <p class="about__p">If you like my app, leave a like, share or somethink awesome :)</p>
      </section>
  </div>
</div>
</template>
<script>
import Toolbar from '@/components/Toolbar.vue';

export default {
  name: 'About',
  components: {
    Toolbar,
  },
};
</script>
<style lang="scss" scoped>
@mixin h2{
  font-size: 1.5em;
  color: #187a29;
  text-align: center;
}
.about__div{
  display: flex;
  align-items: center;
  width:100%;
  margin-top: 20%;
  flex-wrap: wrap;
  .about__section{
    padding: 1em;
    width: 47%;
    margin: 0 auto;
    .about__h2{
      @include h2;
    }
    .about__p{
      max-width: 400px;
      margin: 1em auto;
      font-size:1.1em;
      padding: 1em;
      .p__a{
        color: #0dcb5c;
        text-decoration: none;
      }
    }
  }
}
.about__underdiv{
  left: calc(50% - 210px);
.about__section{
    padding: 1em;
    margin: 0 auto;
  .about__h2{
    @include h2;
  }
  .about__p{
    text-align: center;
    margin: 1em auto;
    width:100%;
  }
 }
}
</style>

