<template>
<div>
  <toolbar />

  <div class="contact">
    <v-form class="contact__form"
        action="https://formspree.io/jakub.wolowski456@gmail.com"
        method="POST">
        <v-text-field class="form__input"
        label="Name"
        type="text"
        name="name"
        required>
      </v-text-field>

      <v-text-field class="form__input"
        label="E-mail"
        type="email"
        name="_replyto"
        required
      ></v-text-field>

      <v-textarea class="form__input"
      label="Your message..." name="text" required
      minlength="10" maxlength="1000">
      </v-textarea>

      <v-btn value="Send" type="submit" depressed
      outline class="form__submit"
      color="#2fb265">Send</v-btn>
    </v-form>

    <aside class="contact__aside">
      <p class="aside__description">You want to see a new think in this page ?</p>
      <p class="aside__description">Have you got a suggestion or you found a bug ?</p>
      <p class="aside__description">Are you want to cooparate with me ?</p>
      <p class="aside__description--last">Just write to me, I will be grateful</p>
    </aside>

  </div>
</div>
</template>
<script>
import Toolbar from '@/components/Toolbar.vue';

export default {
  name: 'Contact',
  components: {
    Toolbar,
  },
};
</script>
<style lang="scss" scoped>
.contact{
  display: flex;
  width:100vw;
  padding: 3em;
  @media screen and (min-width: 1400px){
      padding:6em 10em 6em 6em;
    }
    @media screen and (max-width: 960px){
      flex-direction: column-reverse;
    }
  .contact__form{
    margin-top:15%;
    flex:3;
    @media screen and (min-width: 1400px){
      margin-top:5%;
    }
    .form__input{
      width:350px;
      padding: 2em;
      @media screen and (max-width: 960px){
      margin: 0 auto;
      }
      @media screen and (min-width: 1400px){
        margin: 0 auto;
      }
      @media screen and (max-width: 768px){
        width: 250px;
      }
    }
    .form__submit{
      display:flex;
      justify-content: flex-end;
      margin: 3em 12% 0 auto;
    }
  }
  .contact__aside{
    flex: 2;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top:15%;
    background-color:rgba(178,178,178,0.05);
    padding-top: 3em;
    @media screen and (min-width: 1400px){
      margin:5% auto;
    }
    @media screen and (max-width: 960px){
      margin: 10vh 25vw 0vh 25vw;
      width: auto;
    }
    @media screen and (max-width: 768px){
     margin: 10vh 15vw 0vh 15vw;
    }
    @media screen and (max-width: 480px){
     margin: 10vh 5vw 0vh 5vw;
    }
    .aside__description{
      padding: 1em;
    }
    .aside__description--last{
        padding:2em;
        font-size:1.3em;
      }
  }
}
</style>

