<template>
<div>
  <toolbar />

  <main class="mainfaq">
    <p class="mainfaq__p" tabindex="0">This application is about MIT license,
        but you must put a link to my website in visible place</p>
    <p class="mainfaq__p" tabindex="0">App use a formspree.io as content page,
        so beware of spam emails</p>
    <p class="mainfaq__p" tabindex="0">This section doesn't have real target.
        Image is beautiful so I done it because of it.</p>
  </main>
</div>
</template>
<script>
import Toolbar from '@/components/Toolbar.vue';

export default {
  name: 'Faq',
  components: {
    Toolbar,
  },
};
</script>
<style lang="scss" scoped>
.mainfaq{
  height: calc(100vh - 64px);
  width: 100vw;
  background: url('../assets/faq.jpg') no-repeat center;
  background-size: cover;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  display: flex;
  filter: opacity(0.8);
  .mainfaq__p{
    padding: 1em;
    margin: 2em 10% 2em 0;
    color: #fff;
    border-bottom: 2px solid #2fb265;
    font-size: 1.1em;
    width:40%;
    background: rgba(32,32,32,0.6);
    @media screen and (min-width: 1400px){
      text-align: center;
    }
    @media screen and (max-width: 960px){
      width: 50vw;
    }
  }
}
</style>

