<template>
<div>
  <Toolbar />

<main class="mainHome">
    <header class="home">
      <h1 class="home__h1">Foo<span class="h1__subname">eat</span></h1>

      <div class="search" v-if="step === 0">
        <label for="search" class="search__label">Type a city</label>
        <v-text-field class="search__input" id="search"
        light
        placeholder="eg. New York"
        prepend-icon="search"
        v-model="searchValue"
        @input="handleInput">
        </v-text-field>
      </div>
    </header>

    <div class="cards">
      <transition name="fade">
      <div :class="[{flex: step === 1}, 'card']">
        <v-card tile color="rgba(255, 255, 255, 0.85)">
          <img :src="restaurantJpg" class="card__img">

        <v-card-title primary title class="card__title">
          <div>
            <h3 class="headline mb-1">{{ restaurantName }}</h3>
          </div>
        </v-card-title>

        <v-card-actions class="card__action">
          <v-btn flat @click.native="handleRestaurant()" color="#666">Info</v-btn>
          <v-btn flat color="#2fb265">Order</v-btn>
        </v-card-actions>

        </v-card>
      </div>
    </transition>

    <transition name="fade">
      <div :class="[{flex: step === 1}, 'card']">
        <v-card tile color="rgba(255, 255, 255, 0.85)">
          <img :src="restaurantJpg2" class="card__img">

        <v-card-title primary title class="card__title">
          <div>
            <h3 class="headline mb-1">{{ restaurantName2 }}</h3>
          </div>
        </v-card-title>

        <v-card-actions class="card__action">
          <v-btn flat @click.native="handleRestaurant()" color="#666">Info</v-btn>
          <v-btn flat color="#2fb265">Order</v-btn>
        </v-card-actions>

        </v-card>
      </div>
    </transition>

    <transition name="fade">
      <div :class="[{flex: step === 1}, 'card']">
        <v-card tile color="rgba(255, 255, 255, 0.85)">
          <img :src="restaurantJpg3" class="card__img">

        <v-card-title primary title class="card__title">
          <div>
            <h3 class="headline mb-1">{{ restaurantName3 }}</h3>
          </div>
        </v-card-title>

        <v-card-actions class="card__action">
          <v-btn flat @click.native="handleRestaurant()" color="#666">Info</v-btn>
          <v-btn flat color="#2fb265">Order</v-btn>
        </v-card-actions>

        </v-card>
      </div>
    </transition>

  </div>
  <Modal v-if="modalOpen" @closeModal="modalOpen = false" />
  </main>
</div>
</template>
<script>
import axios from 'axios';
import debounce from 'lodash.debounce';
import Toolbar from '@/components/Toolbar.vue';
import Modal from '@/components/Modal.vue';

const zomatoAPI = 'https://developers.zomato.com/api/v2.1';

export default {
  name: 'Home',
  components: {
    Toolbar,
    Modal,
  },
  data() {
    return {
      modalOpen: false,
      loading: false,
      step: 0,
      searchValue: '',
      latitude: [],
      longitude: [],
      Restaurant: [],
      restaurantName: '',
      restaurantName2: '',
      restaurantName3: '',
      restaurantID: '',
      restaurantJpg: '',
      restaurantJpg2: '',
      restaurantJpg3: '',
    };
  },
  methods: {
    // eslint-disable-next-line
    handleInput: debounce(function () {
      if (this.searchValue !== '') {
        this.loading = true;
        console.log(this.searchValue);
        axios.get(`${zomatoAPI}/locations?query=${this.searchValue}`, { headers: { 'user-key': '5e41c38cdcfcd44a78184f87b9f52fab' } })
        // eslint-disable-next-line
          .then((response) => {

            // eslint-disable-next-line
            this.latitude = response.data.location_suggestions[0].latitude;
            this.longitude = response.data.location_suggestions[0].longitude;

            axios.get(`${zomatoAPI}/geocode?lat=${this.latitude}&lon=${this.longitude}`, { headers: { 'user-key': '5e41c38cdcfcd44a78184f87b9f52fab' } })
              .then((resp) => {
                console.log(resp);
                // eslint-disable-next-line
                this.Restaurant = resp.data.nearby_restaurants[0];
                this.restaurantName = resp.data.nearby_restaurants[0].restaurant.name;
                this.restaurantName2 = resp.data.nearby_restaurants[1].restaurant.name;
                this.restaurantName3 = resp.data.nearby_restaurants[2].restaurant.name;
                this.restaurantJpg = resp.data.nearby_restaurants[0].restaurant.thumb;
                this.restaurantJpg2 = resp.data.nearby_restaurants[1].restaurant.thumb;
                this.restaurantJpg3 = resp.data.nearby_restaurants[2].restaurant.thumb;
                this.restaurantID = resp.data.nearby_restaurants[0].restaurant.R.res_id;

                this.loading = false;
                this.step = 1;
              });
          })
          .catch((err) => {
            console.log(err);
          });
      }
    }, 500),
  },
  // eslint-disable-next-line
  handleRestaurant() {
    axios.get(`${zomatoAPI}/restaurant?res_id=${this.restaurant}`, { headers: { 'user-key': '5e41c38cdcfcd44a78184f87b9f52fab' } })
      .then((response) => {
        console.log(response);

        this.modalOpen = true;
        // eslint-disable-next-line
      })
      .catch((err) => {
        console.log(err);
      });
  },
};
</script>
<style lang="scss">
.fade-enter-active, .fade-leave-active{
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}
.headline {
    font-size: 20px!important;
}
.card__title{
  max-width: 220px;
}
.mainHome{
  height: calc(100vh - 64px);
  width: 100vw;
  background: url('../assets/main-b.jpg') no-repeat center;
  background-size: 100% 100%;
  @media screen and (max-width: 1200px){
    background-size: 120% 100%;
  }
.home{
  display:flex;
  justify-content: center;
  .home__h1{
    position: absolute;
    top:12%;
    color:#0dcb5c;
    font-size: 3rem;
    text-transform: uppercase;
    .h1__subname{
      color:#2fb265;
      margin-left: 0.1em;
    }
  }
  .search{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:40%;
    .search__label{
      font-size:1.6em;
      border-radius: 40%;
      color: #fff;
      text-align: center;
      margin-bottom: 1.5em;
    }
    .search__input{
      border-bottom-left-radius: 40% 100%;
      border-bottom-right-radius: 40% 100%;
      border-top-left-radius: 40% 100%;
      border-top-right-radius: 40% 100%;
      background-color: rgba(255,255,255,0.7);
      padding: 1.5em 1.5em 1.1em 1em;
    }
  }
}
.cards{
  display: flex;
  height: 80vh;
  align-items: flex-end;
  .card{
    display:none;
    height:260px;
    justify-content: space-around;
    &.flex{
      display:flex;
    }
    .card__img{
      height:8em;
      width:16em;
    }
    .card__action{
      margin: 0 5px;
      padding-top:0;
      position: absolute;
      bottom: 5px;
    }
    .card__p{
      margin-bottom:0;
    }
   }
  }
}
</style>

