<template>
    <div class="outerWrapper">
        <div class="innerWrapper">
            <h2 class="title">title</h2>

            <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Molestias voluptatibus vero aspernatur quasi
                harum reprehenderit voluptatum maxime necessitatibus
                mollitia neque. Non facere aliquam sint illum ducimus officiis?
                Blanditiis, laborum recusandae!
            </p>

            <div class="close" @click="$emit('closeModal')"></div>
        </div>
    </div>
</template>
<script>
export default {
  name: 'Modal',
};
</script>
<style lang="scss" scoped>

    .title{

    }
    .description{

    }
    .close{

        &:before{

        }
        &:after{

        }
    }
</style>
