<template>
  <v-toolbar dark>
    <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn to="/" flat color="#0dcb5c">Home</v-btn>
        <v-btn to="/About" flat color="#0dcb5c">About</v-btn>
        <v-btn to="/Faq" flat color="#0dcb5c">FAQ</v-btn>
        <v-btn to="/Contact" flat color="#0dcb5c">Contact</v-btn>
      </v-toolbar-items>
  </v-toolbar>
</template>
<script>
export default {
  name: 'Toolbar',
};
</script>
<style lang="scss">
.hidden-sm-and-down{
  display: flex !important;
}
@media screen and (max-width:640px) {
  v-btn{
  padding: 0;
}
}
</style>

