<template>
  <div class="app">
    <nav class="nav">
      <router-view />
    </nav>
  </div>
</template>
<script>
export default {

};
</script>
<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
